#include "IDS.h"
#include <afxres.h>
DialogMenu MENU
{
	POPUP "&Dialog"
{
	MENUITEM "&SamplDialog",IDM_DIALOG
	MENUITEM "E&xit", IDM_EXIT
}
MENUITEM "&Help",IDM_HELP
}
DialogMenu ACCELERATORS
{
	VK_F1,IDM_HELP,VIRTKEY
	VK_F2,IDM_DIALOG,VIRTKEY
	VK_F3,IDM_EXIT,VIRTKEY
}
SamplDialog DIALOG 18,18,142,92
CAPTION "Sample Dialog Box"
STYLE DS_MODALFRAME|WS_POPUP|WS_SYSMENU
{
	DEFPUSHBUTTON"Red",IDD_RED,32,40,30,14,WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON"Green",IDD_GREEN,74,40,30,14,WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel",IDCANCEL,52,65,37,14,WS_CHILD | WS_VISIBLE | WS_TABSTOP

}